.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
img{
  
  width:350px;
  height: 350px;
  border-radius: 50%;
  position: center;
  border: 1px solid #ddd;
 
  padding: 5px;
  
  
}
img:hover {
  box-shadow: 0 0 2px 1px rgba(3, 44, 56, 0.5);
}

h1 {
  font-family: 'Pacifico', cursive;
    font-size: 2em;
  text-align: center;
  color: rgb(6, 89, 89);
}

h1:hover{
  box-shadow: 0 0 2px 1px rgba(2, 41, 54, 0.5);
  
}h2 {
  font-family: 'Pacifico', cursive;
    font-size: 2em;
  
  color: rgb(6, 89, 89);
}

h2:hover{
  box-shadow: 0 0 2px 1px rgba(2, 41, 54, 0.5);
  
}
p{
  padding-top: 150px;
padding-right: 600px;
color: rgb(15, 14, 14);
font-family: 'Pacifico', cursive;
}
.test{
  display:flex;
  justify-content:space-between;
}


